

#cabezera{
 background-color:#d5c75f;
 border-radius: 10px 10px 0px 0px;
 height: 100%;
 width: 100%;
}
h1{
color: White;
text-shadow: 2px 2px #02010a;
text-align: left;
}
nav ul{
  color: White;
  list-style: none;
  float: right;
  padding: 2%;

}
nav ul li{
  display: inline;
  margin:  10px;
  text-shadow: 1px 1px #02010a;
  font-size: 20px;


}
nav ul li:hover{
    text-decoration: underline;

}
#contenido {
  background-color:#82c3a6;
  height: 100%;
  width: 100%;



}
#imagen1{

  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 50%;



}

 .central{

  height: 100%;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;




}
#contenido2{
     background-color:#d5c75f;
     height: 100%;
     width: 100%;

     border style: solid;
     border: solid 1px ;
     border-color: black;
     display: inline-flex;
     padding-bottom: 40px;
     padding-top:30px;

}

#contenido2 li {
  list-style: none;
  color: red;
  text-align: center;
}
#contenido2 li:hover{
    text-decoration: underline;

}

.izquierda{
  height: 100%;
  width: 80%;
  float: left;
  margin: 10px 3% 1em ;



}
.izquierda:hover {
  transform: rotate(10deg);
  -webkit-box-shadow: 2px 2px 5px #82c3a6;
  border: solid 2px;
  border-color: black;
}
.derecha:hover{
  transform: translate(5px,-20px);
  -webkit-box-shadow: 2px 2px 5px #82c3a6;
  border: solid 2px;
  border-color: black;
}


.derecha{
  height: 100%;
  width: 80%;
 float: right;
 margin: 10px 3% 1em ;

}
footer{
  background-color:  #C6d5c5;
  height:100px;
  width: 100%;
   border-radius: 0px 0px 10px 10px;
}

@media (max-width: 600px) {

  #imagen1{

    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 80%;

  }

  .central{

   height: 100%;
   width: 100%;
   display:block;


  }
  #contenido2{
    flex-direction: column;
    margin-left: auto;
    text-align: center;
    border: none;

  }
  .derecha{
   float: left;
   padding-top: 20px;
   padding-left:5%;
  }
  .izquierda{
   float: left;
   padding-top: 20px;
   padding-left:5%;
  }

}
