

#cabezera{
 background-color:#d5c75f;
 border-radius: 10px 10px 0px 0px;
 height: 100%;
 width: 100%;
}
h1{
color: White;
text-shadow: 2px 2px #02010a;
text-align: left;
}
nav ul{
  color: White;
  list-style: none;
  float: right;
  padding: 2%;

}
nav ul li{
  display: inline;
  margin:  10px;
  text-shadow: 1px 1px #02010a;
  font-size: 20px;


}
a:link {color: white;text-decoration: none }
a:hover {color: white;text-decoration: none }
a:visited {color: white;text-decoration: none }

nav ul li:hover{
    text-decoration: underline;
}
/*estilo index para escritorio*/
@media (min-width: 900px){
  #contenido {
    background-color:#82c3a6;
    height: 100%;
    width: 100%;



  }
  #imagen1{

    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 50%;



  }

   .central{

    height: 100%;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;




  }
  #contenido2{
       background-color:#d5c75f;
       height: 100%;
       width: 100%;

       border style: solid;
       border: solid 1px ;
       border-color: black;
       display: inline-flex;
       padding-bottom: 100px;
       padding-top:30px;

  }

  #contenido2 li {
    list-style: none;
    color: white;
    text-align: center;
    padding: none;
    border: none;
    margin: none;

  }
  #contenido2 li:hover{
      text-decoration: underline;

  }

  .izquierda{
    height: 100%;
    width: 80%;
    float: left;
    margin: 10px 3% 1em ;



  }
  .izquierda:hover {
    transform: rotate(10deg);
    -webkit-box-shadow: 2px 2px 5px #82c3a6;
    border: solid 2px;
    border-color: black;
  }
  .derecha:hover{
    transform: translate(5px,-20px);
    -webkit-box-shadow: 2px 2px 5px #82c3a6;
    border: solid 2px;
    border-color: black;
  }


  .derecha{
    height: 100%;
    width: 80%;
   float: right;
   margin: 10px 3% 1em ;

  }


}



/* estilos de pagina de paisajes escritorio*/
@media (min-width: 900px) {
  #galeria1{
    height:100%;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    display: inline-block;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
   }
   #galeria2{
     height:100%;
     width: 100%;
     border-radius: 0px 0px 10px 10px;
     text-align: center;
     padding-top: 2%;
     padding-bottom: 2%;
    }
  .paisaje3{
    width: 30%;
  padding-right: 1%;
  filter: blur(10px);
  }

  .paisaje4{
    width: 30%;
    padding-right: 1%;
    filter: grayscale(100%);
  }
  .paisaje5{
    width: 30%;
    filter: sepia(90%);
  }
  .paisaje6{
    width: 30%;
    padding-right: 1%;
    filter: grayscale(100%);
  }
  .paisaje7{
    width: 30%;

  }
  .paisaje8{
    width: 30%;
    filter: grayscale(100%);
  }


}


/* estilos de pagina de paisajes moviles*/
@media (max-width: 900px) {

  #galeria1{
    height:100%;
    width: 100%;
    display: block;
    flex-direction: column;
    margin-left: auto;
    text-align: center;

   }
   #galeria2{
     height:100%;
     width: 100%;
     border-radius: 0px 0px 10px 10px;
     padding-top: 2%;
     padding-bottom: 2%;
     flex-direction: column;
     margin-left: auto;
     text-align: center;

    }
  .paisaje3{
  width: 80%;
  padding-right: 1%;
  filter: blur(10px);
  text-align: center;
  order: 1

  }

  .paisaje4{
    width: 80%;
    padding-right: 1%;
    filter: grayscale(100%);
    order: 2
  }
  .paisaje5{
    width: 80%;
    filter: sepia(90%);
    order: 3
  }
  .paisaje6{
    width: 80%;
    padding-right: 1%;
    filter: grayscale(100%);
    order: 4
  }
  .paisaje7{
    width: 80%;
    order: 5

  }
  .paisaje8{
    width: 80%;
    filter: grayscale(100%);
    order: 6
  }

  }

/* estilos del pie de pagina*/
footer{
  background-color:  #C6d5c5;
  height:100%;
  width: 100%;
   border-radius: 0px 0px 10px 10px;
   display: flex;
   flex-flow: row wrap;




}
.contacto{
  height:100%;
  width: 20%;
  border-radius: 0px 0px 10px 10px;
  margin-right: auto;
  margin-left: auto;
}
.terminos{

  height:100%;
  width: 20%;
   border-radius: 0px 0px 10px 10px;
   margin-right: auto;
}
.redes{

  height:100%;
  width: 20%;
  border-radius: 0px 0px 10px 10px;
  margin-right: auto;
}
.derechos{

  height:100%;
  width: 20%;
   border-radius: 0px 0px 10px 10px;
   margin-right: auto;
}
/* estilos de pagina de index moviles*/
@media (max-width: 900px) {
  #contenido {
    background-color:#82c3a6;
    height: 100%;
    width: 100%;
  }

  #imagen1{

    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 80%;
    padding-top: 2%;
    padding-bottom: 2%;

  }

  .central{

   height: 100%;
   width: 100%;
   display:block;


  }

  #contenido2{
       background-color:#d5c75f;
       width: 100%;
       height: 100%;
       border-radius: 0px 0px 10px 10px;
       padding-top: 2%;
       padding-bottom: 2%;
       flex-direction: column;
       margin-left: auto;
       text-align: center;


  }

  #contenido2 li {
    list-style: none;
    color: white;
    text-align: center;
    padding: none;
    border: none;
    margin: none;
    flex-direction: column;
    margin-left: auto;
    text-align: center;

  }
  #contenido2 li:hover{
      text-decoration: underline;

  }

  .derecha{

    width: 80%;

  }
  .izquierda{

    width: 80%;

  }
  .izquierda:hover {
    transform: rotate(10deg);
    -webkit-box-shadow: 2px 2px 5px #82c3a6;
    border: solid 2px;
    border-color: black;
  }
  .derecha:hover{
    transform: translate(5px,-20px);
    -webkit-box-shadow: 2px 2px 5px #82c3a6;
    border: solid 2px;
    border-color: black;
  }


}

/* estilos del pie de pagina de moviles*/

@media  (max-width: 900px) {
  footer{
    text-align: center;
  }

  .contacto{

    width: 100%;
    order: 1;

  }
  .terminos{

    width: 100%;
    order: 2;
  }
  .redes{

    width: 100%;
    order: 3;
  }
  .derechos{

    width: 100%;
    order: 4;
  }


}
